
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #593896, #392d77); */
    /*background:url('c.jpg'),url('heart.png');*/
    background-color: #003659;
    background-size: 130%;
    background-position-x: right;
    background-position-y: 60%;
    
}
.container{
max-width: 500px;
width: 100%;
background: #fff;
padding: 25px 30px;
border-radius: 15px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #06253a, #392d77);

}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2-20px);
    
}
form .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 15px;
   font-size: 16px;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
}
form .user-details .input-box input:focus,
form .user-details .input-box input:valid{
border-color: #392d77;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .catagory{
    display: flex;
    width: 50%;
    margin: 14px 0;
    justify-content: space-between;
}
form .gender-details .catagory label{
display: flex;
align-items: center;
}
form .gender-details .catagory .dot{
height: 18px;
width: 18px;
background: #d9d9d9 ;
border-radius: 50%;
margin-right: 10px;
border: 5px solid transparent;
transition: all 0.3s ease;
}
#dot-1:checked~ .catagory label .one,
#dot-2:checked~ .catagory label .two{
    border-color: #d9d9d9;
    background: #392d77;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
} 
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #2f678f, #392d77);
    border-radius: 30px;
}
form .button input:hover{
    background: linear-gradient(-135deg, #2f678f, #392d77); 
}
@media (max-width:584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .catagory{
        width: 100%;
        
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
